<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^schema/$ schema.php [QSA,NC,L]
RewriteRule ^schema/(.*)$ schema.php?request=$1 [QSA,NC,L]
</IfModule>
