html, body {
  height: 100%;
}

.logo__link {
    color: #ffffff;
}

.logo__link:hover {
    color: #ffffff;
    text-decoration: none;
}

.menu {
    background-color: #0747a6;
    color: #ffffff;
}

.menu__title {
    margin: 20px 0 20px 15px;
}

.menu__active {
    border-bottom: 1px solid #ffffffa1;
}

.menu__link {
    color: #ffffff;
}

.menu__link:hover {
    color: #d2d2d2;
}

.main {
    margin-top: 20px;
}

.main__title {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.breadcrumb {
    background-color: #ffffff;
    padding-top: 0;
    padding-left: 0;
    font-size: 0.9rem;
}

.inputbox {
    background-color: #f9f9f9;
    box-shadow: 4px 4px #efefef;
}

.table__header {
    background-color: #f7f7f7;
    font-weight: 300;
    color: #c3c3c3;
}

.table__date {
    font-size: 0.8rem;
}

.table__checkbox {
    width: 3%;
}

.table td, .table th {
    padding: 0.5rem .75rem;
}

.tableForm {
    border-collapse:separate;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
}

.tableForm__td {
    border-top: 0 !important;
}

.tableForm__label {
    margin-bottom: 0;
}